<mt:setvarblock name="page_title">
    <mt:If name="id">
        <__trans phrase="Edit Thumbnail Prototype">
    <mt:Else>
        <__trans phrase="Create Thumbnail Prototype">
    </mt:If>
</mt:setvarblock>
<mt:setvarblock name="html_head" append="1">
<link rel="stylesheet" href="<mt:var name="static_uri">support/plugins/imagecropper/css/app.css" type="text/css" />
<script type="text/javascript" charset="utf-8">
    function init() {
        var label = getByID("label");
        label.focus();
    }
    TC.attachLoadEvent( init );
</script>
</mt:setvarblock>
<mt:include name="dialog/header.tmpl">

<form method="post" action="<mt:var name="script_url">" target="_top">
<input type="hidden" name="__mode" value="save_prototype" />
<input type="hidden" name="blog_id" value="<mt:var name="blog_id">" />
<input type="hidden" name="id" value="<mt:var name="id">" />
<input type="hidden" name="basename" value="<mt:Var name="basename">" />

<mtapp:setting
    id="label"
    label_class="top-label"
    label="<__trans phrase="Label">"
    hint="Enter in a very short label that will be used to help you identify any thumbnail derived from this prototype."
    show_hint="1">
      <input
          id="label"
          type="text"
          name="label"
          class="title full full-width"
          value="<mt:Var name="label" escape="html"/>">
</mtapp:setting>

<mtapp:setting
    id="max_width"
    label_class="top-label"
    label="<__trans phrase="Max Width">"
    hint="Enter the maximum width of the thumbnail. Enter &ldquo;0&rdquo; to create a variable-width thumbnail (that is, height-constrained)."
    show_hint="1">
      <input
          id="max_width"
          type="text"
          name="max_width"
          class="full full-width"
          value="<mt:Var name="max_width" />" />
</mtapp:setting>

<mtapp:setting
    id="max_height"
    label_class="top-label"
    label="<__trans phrase="Max Height">"
    hint="Enter the maximum height of the thumbnail. Enter &ldquo;0&rdquo; to create a variable-height thumbnail (that is, width-constrained)."
    show_hint="1">
      <input
          id="max_height"
          type="text"
          name="max_height"
          class="full full-width"
          value="<mt:Var name="max_height" />" />
</mtapp:setting>

<mtapp:setting
    id="allow_autocrop"
    label_class="top-label"
    hint="Thumbnails can be created automatically during upload for all Prototypes that have this feature enabled. After uploading, a Worker job is created that will automatically generate a thumbnail crop from this Prototype."
    show_hint="1">
        <input
            id="autocrop"
            type="checkbox"
            name="autocrop"
            class="cb"
            <mt:If name="autocrop">checked</mt:If> />
        <label for="autocrop">Enable automatic thumbnail creation for this Prototype?</label>
</mtapp:setting>

<div class="actions-bar">
    <div class="actions-bar-inner pkg actions">
        <button
            type="submit"
            accesskey="s"
            title="<__trans phrase="Save">"
            class="primary action button primary-button"
            ><__trans phrase="Save"></button>
        <button
            type="submit"
            accesskey="x"
            title="<__trans phrase="Cancel (x)">"
            class="action button mt-close-dialog"
            ><__trans phrase="Cancel"></button>
    </div>
</div>

</form>
<mt:include name="dialog/footer.tmpl">